
<ul class="nav justify-content-center">
    <li class="nav-item" style="color: black;">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/addproduct">Add Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/getproducts">Show Products</a>
    </li>
   
  </ul>